.country-card {
    max-width: 264px;
    background: var(--light-elem);
    box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.089);
    border-radius: 5px;
    overflow: hidden;
  }
  
  .country-card a {
    text-decoration: none;
  
  }
  
  .flag {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 165px;
    overflow: hidden;
  }
  
  .flag img {
    width: 100%;
  } 
  
  .country-card--info {
    padding: 30px 0 35px 24px;
  }
  
  .country-card--info h2 {
    font-size: 18px;
    line-height: 26px;
    font-weight: 800;
    color: var(--light-text);
    margin: 0 0 16px 0;
  }
  
  .country-card--info p  {
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    color: var(--light-text);
    margin: 0;
    margin-top: 8px;
  }
  
  .country-card--info p span {
    font-weight: 600;
  }